# Arquivos de Cache e Bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de ambiente virtual
venv/
virtual/
env/
.venv/

# Arquivos de dependências e pacotes
*.egg-info/
dist/
build/
eggs/
parts/
bin/
lib/
lib64/
include/
share/
wheels/
*.egg
pip-wheel-metadata/

# Arquivos de configuração específicos de IDEs
.idea/
.vscode/

# Arquivos de cache de testes
.pytest_cache/
.tox/
.coverage
.cache

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# --- REGRAS CUSTOMIZADAS PARA O SEU PROJETO ---
# Arquivos de segredos do Streamlit
.streamlit/secrets.toml

# Arquivos de variáveis de ambiente
*.env
.env.*
! .env.example